@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2.7rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.5rem;
}
p {
  font-size: 20px;
}
@media (max-width: 1520px) {
  h1 {
    font-size: 3.4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.7rem;
  }
  h6 {
    font-size: 1.3rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.45rem;
  }
  h6 {
    font-size: 1.15rem;
  }
}

.authPage {
  display: flex;
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  min-height: 100vh;
}
.authPage .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 20px 20px;
}
.authPage .container .header {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.authPage .container .header h3 {
  font-size: 1.6rem;
}
.authPage .container .header img {
  width: 300px;
  height: 120px;
  margin: 0 auto;
}
.authPage .container .header {
  text-align: center;
  margin-bottom: 30px;
}
.authPage .container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.authPage .container form .inputTag {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.authPage .container form .inputTag div {
  display: flex;
  align-items: center;
  border-radius: 7px;
}
.authPage .container form .inputTag div input,
.authPage .container form .inputTag div select {
  background: #87878778;
  padding: 8px;
  border: none;
  width: 100%;
  height: 100%;
}
.authPage .container form .inputTag div input:focus,
.authPage .container form .inputTag div select:focus {
  outline: none;
}
.authPage .container form .inputTag div svg {
  width: 10%;
  font-size: 1.5rem;
  background: #2d5649;
  height: 100%;
  padding: 8px;
  color: #fff;
}
.authPage .container form button {
  padding: 12px;
  text-align: center;
  border: none;
  margin-top: 25px;
  font-weight: 700;
  color: #fff;
  background: #2d5649;
  font-size: 1.2rem;
  border-radius: 7px;
}
.authPage .container form a {
  padding: 12px;
  text-align: center;
  border: 1px solid #2d5649;
  margin-top: 25px;
  font-weight: 700;
  color: #2d5649;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
}
.authPage .banner {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.authPage .banner img {
  width: 100%;
  width: 550px;
  height: 550px;
}
@media (max-width: 1520px) {
  .authPage {
    min-width: 100%;
  }
}
@media (max-width: 830px) {
  .authPage {
    min-height: 100vh;
    height: auto;
  }
  .authPage .container {
    flex: none;
    width: 100%;
    justify-content: flex-start;
    padding: 40px 20px;
  }
  .authPage .banner {
    flex: none;
    display: none;
  }
}



.services {
  background: #f1f3f6;
  min-height: 100vh;
  padding: 50px 20px;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  gap: 35px;
}
.services .container .banner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: center;
  padding: 30px 0;
}
.services .container .banner .card {
  background: #fff;
  text-decoration: none;
  width: 320px;
  height: 220px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.services .container .banner .card:hover {
  transition: all 0.3s;
  box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 2px 10px 10px -1px rgba(0, 0, 0, 0.17);
}
.services .container .banner .card p:first-child {
  font-weight: bold;
  font-size: 1.6rem;
}
.services .container .banner .card p:nth-child(2) {
  font-size: 1.3rem;
  color: gray;
}
.services .container .banner .card p:last-child {
  font-size: 1rem;
  color: gray;
}
.services .container .banner .card a {
  text-decoration: none;
  padding: 7px;
  font-size: 20px;
  color: #2d5649;
  background: rgb(233, 249, 255);
  width: 100%;
  display: block;
  text-align: center;
}
@media (max-width: 1520px) {
  .services .container {
    min-width: 100%;
  }
}
@media (max-width: 1060px) {
  .services .container .banner .card {
    width: 360px;
  }
}
@media (max-width: 795px) {
  .services .container .banner .card {
    width: 100%;
  }
}

.serviceDetail {
  background: #f1f3f6;
  padding: 50px 20px;
}
.serviceDetail .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serviceDetail .container .banner {
  width: 100%;
  min-height: 767px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.serviceDetail .container .banner p {
  font-weight: bold;
  color: #2d5649;
}
.serviceDetail .container .banner p span {
  color: #18191c;
  font-weight: 400;
}
.serviceDetail .container .banner a {
  background-color: #2d5649;
  color: rgb(233, 249, 255);
  font-size: 20px;
  font-weight: 400;
  border: none;
  padding: 12px 30px;
  text-decoration: none;
  margin-top: 10px;
  width: fit-content;
}
@media (max-width: 1520px) {
  .serviceDetail .container {
    min-width: 100%;
  }
}
.application {
  display: flex;
  flex-direction: column;
}
.application .container {
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 20px;
}
.application .container form {
  display: flex;
  flex-direction: column;
  width: 550px;
  padding: 40px 20px;
  gap: 25px;
  margin: 0 auto;
  margin-top: 35px;
}
.application .container form input {
  border: none;
  font-size: 20px;
  border-bottom: 1px solid black;
  padding: 12px 4px;
}
.application .container form textarea {
  width: 100%;
  height: 200px;
  font-size: 20px;
  padding: 12px 4px;
}
.application .container form input:focus,
.application .container form textarea:focus {
  outline: none;
}
.application .container form button {
  background-color: #2d5649;
  color: rgb(233, 249, 255);
  font-size: 20px;
  font-weight: 400;
  border: none;
  padding: 12px 30px;
  text-decoration: none;
  width: 100%;
}
.application .container form button:hover {
  background-color: #184235;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 1520px) {
  .application .container {
    min-width: 100%;
  }
  .application .container form {
    width: 100%;
  }
}
.my_applications {
  background: #f1f3f6;
  padding: 50px 20px;
  min-height: 885px;
}
.my_applications .container {
  max-width: 1500px;
  min-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.service_seeker_card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding: 20px 0;
}
.service_seeker_card .detail {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.service_seeker_card .detail {
  flex: 2;
}
.service_seeker_card .detail span {
  font-weight: bold;
}
.service_seeker_card .resume {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.service_seeker_card .resume {
  position: relative;
  height: 250px;
}
.service_seeker_card .resume img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.service_seeker_card .btn_area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service_seeker_card .btn_area button {
  background: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 1520px) {
  .my_applications .container {
    min-width: 100%;
  }
}
@media (max-width: 1150px) {
  .service_seeker_card .detail {
    flex: 1;
  }
  .service_seeker_card .resume {
    flex: 1;
  }
  .service_seeker_card .btn_area {
    flex: 1;
  }
}
@media (max-width: 850px) {
  .service_seeker_card {
    flex-direction: column;
    align-items: flex-start;
  }
  .service_seeker_card .detail {
    flex: none;
  }
  .service_seeker_card .resume {
    flex: none;
    width: 320px;
    margin: 30px 0;
  }
  .service_seeker_card .btn_area {
    flex: none;
  }
}
@media (max-width: 360px) {
  .service_seeker_card,
  .service_seeker_card .resume {
    width: 100%;
  }
}

.service_post {
  background: #f1f3f6;
  padding: 50px 20px;
  min-height: 870px;
  display: flex;
  align-items: center;
}
.service_post .container {
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin: 0 auto;
}
.service_post .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.service_post .container form .wrapper {
  display: flex;
  gap: 5vw;
}
.service_post .container form .wrapper input,
.service_post .container form .wrapper select {
  flex: 1;
  font-size: 20px;
  padding: 7px 4px;
  border: none;
  background: transparent;
  border-bottom: 1px solid gray;
}
.service_post .container form input,
.service_post .container form textarea {
  font-size: 20px;
  padding: 7px 4px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
}
.service_post .container form input:focus,
.service_post .container form .wrapper input:focus,
.service_post .container form .wrapper select:focus,
.service_post .container form textarea:focus,
.service_post .container form .salary_wrapper select:focus {
  outline: none;
}
.service_post .container form .salary_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service_post .container form .salary_wrapper p {
  color: #d9534f;
  font-size: 14px;
  font-weight: 300;
}
.service_post .container form .salary_wrapper select {
  width: fit-content;
  font-size: 20px;
  padding: 7px 4px;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
}
.service_post .container form .salary_wrapper .ranged_salary {
  display: flex;
  gap: 5vw;
}
.service_post .container form button {
  width: 100%;
  background: #2d5649;
  font-size: 20px;
  padding: 10px 30px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
@media (max-width: 1520px) {
  .service_post .container {
    min-width: 100%;
  }
}
@media (max-width: 630px) {
  .service_post .container {
    min-width: 100%;
  }
  .service_post .container form .wrapper,
  .service_post .container form .salary_wrapper,
  .service_post .container form .salary_wrapper .ranged_salary {
    flex-direction: column;
    gap: 20px;
  }
  .service_post .container form .salary_wrapper select {
    width: 100%;
  }
}
.myservices {
  background: #f1f3f6;
  padding: 50px 20px;
  min-height: 870px;
}
.myServices .container {
  min-width: 1500px;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.myServices .container .banner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
.myServices .container .banner .card {
  width: 100%;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #18191c;
  padding: 10px 0;
}
.myServices .container .banner .card .content {
  flex: 3;
  display: flex;
  gap: 20px;
}
.myServices .container .banner .card .content span {
  font-size: 20px;
  margin-right: 6px;
  font-weight: bold;
}
.myServices .container .banner .card .content input,
.myServices .container .banner .card .content select {
  background: transparent;
  font-size: 16px;
  border: none;
  color: #18191c;
  padding: 7px 4px;
}
.myServices .container .banner .card .content input:enabled,
.myServices .container .banner .card .content select:enabled {
  border-bottom: 1px solid gainsboro;
}
.myService .container .banner .card .content input:disabled,
.myService .container .banner .card .content select:disabled {
  color: gray;
}
.myService .container .banner .card .content .short_fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myService .container .banner .card .content .long_field {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myService .container .banner .card .content .short_fields div,
.myService .container .banner .card .content .long_field div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.myServices .container .banner .card .content .short_fields div div {
  display: flex;
  gap: 12px;
  flex-direction: row;
}
.myService .container .banner .card .content .long_field textarea {
  background: transparent;
  font-size: 16px;
  color: #18191c;
  border: none;
  padding: 7px 4px;
  height: fit-content;
}
.myService .container .banner .card .content .long_field textarea:disabled {
  color: gray;
}
.myService .container .banner .card .content .long_field textarea:enabled {
  border-bottom: 1px solid gainsboro;
}
.myService .container .banner .card .content .long_field textarea:focus,
.myService .container .banner .card .content input:focus {
  outline: none;
}
.myService .container .banner .card .button_wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.myService .container .banner .card .button_wrapper .edit_btn,
.myService .container .banner .card .button_wrapper .delete_btn {
  width: 120px;
  color: #18191c;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 7px;
  border: none;
  background: #ffc107;
}
.myService .container .banner .card .button_wrapper .delete_btn {
  background: #d9534f;
  color: #f1f3f6;
}
.myService .container .banner .card .button_wrapper .check_btn {
  background: transparent;
  color: #184235;
  border: 1px solid #184235;
  border-radius: 7px;
  width: 50px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.myService .container .banner .card .button_wrapper .check_btn:hover {
  transition: all 0.3s;
  background: #184235;
  color: #f1f3f6;
}
.myService .container .banner .card .button_wrapper .cross_btn {
  background: transparent;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 7px;
  width: 50px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.myService .container .banner .card .button_wrapper .cross_btn:hover {
  transition: all 0.3s;
  background: #d9534f;
  color: #f1f3f6;
}
.myService .container .banner .card .button_wrapper .edit_btn_wrapper {
  gap: 20px;
  display: flex;
}
@media (max-width: 1520px) {
  .myService .container {
    min-width: 100%;
  }
}
@media (max-width: 830px) {
  .myService .container .banner .card {
    flex-direction: column;
  }
  .myService .container .banner .card .content {
    flex-direction: column;
  }
  .myService .container .banner .card .content .long_field,
  .myService .container .banner .card .content .short_fields {
    gap: 8px;
  }
  .myService .container .banner .card .content .short_fields div,
  .myService .container .banner .card .content .long_fields div {
    gap: 8px;
  }
}

.notfound {
  min-height: 750px;
}
.notfound .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notfound .content a {
  font-size: 20px;
  font-weight: 500;
  padding: 7px 30px;
  background: transparent;
  border: 1px solid #184235;
  color: #184235;
  text-decoration: none;
}
.notfound .content a:hover {
  background: #184235;
  transition: all 0.3s;
  color: #f1f3f6;
}
.resume-modal {
  width: 100%;
  display: flex;
  background: #00000085;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.resume-modal .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.resume-modal .modal-content .close {
  position: absolute;
  right: 36px;
  top: 35px;
  font-size: 50px;
  color: #d9534f;
}
.resume-modal .modal-content .close:hover {
  cursor: pointer;
}
.resume-modal .modal-content img {
  max-width: 550px;
  height: auto;
}
@media (max-width: 1130px) {
  .resume-modal {
    z-index: 11;
  }
}